feedparser==6.0.10
newspaper3k==0.2.8
pyyaml==6.0.1
argostranslate
ctranslate2==4.6.0
sacremoses==0.0.53
PyQt5==5.15.11
packaging==25.0
transformers==4.35.2
torch 
nltk==3.8.1
atoma==0.0.17
lxml-html-clean==0.1.1
sentencepiece==0.1.99
protobuf==4.25.3
spacy==3.8.7
networkx==3.5
uvicorn==0.34.3
fastapi==0.115.12
gTTS
ollama
sqlalchemy
pydantic
requests
edge-tts